/*质感Blog CSS
25/12/24 9:44pm*/

@font-face {
    font-family: 'Texture-Sans';
    src: url('/texture/TextFonts.ttf') format('truetype');
}
@font-face {
    font-family: 'TextureMoji';
    src: url('/texture/TextureMojis.ttf') format('truetype');
}
@font-face {
    font-family: 'GhastlyPanic';
    src: url('/font/GhastlyPanic.ttf') format('truetype');
}

.app {
    font-family: 'Texture-Sans', sans-serif;
}
.emoji {
    font-family: 'TextureMoji';
}
body {
    padding: 0px;
    margin: 0px;
    padding-top: 0 !important;
    margin-top: 0 !important;
    background: #000;
    color: #FFF;
    font-family: 'Texture-Sans', sans-serif;
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
}

/*body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5vh;
  background: linear-gradient(to bottom,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,0) 100%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  pointer-events: none;
  z-index: 9998;
}

body::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5vh;
  background: linear-gradient(to top,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,0) 100%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  pointer-events: none;
  z-index: 9998;
}*/

.mdui-appbar-perfect-change {
    margin-bottom: -56px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background: linear-gradient(to bottom,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,0) 100%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    pointer-events: none;
    z-index: 9999;
}

.parts {
    max-width: 85%;
    min-width: 300px;
    margin: auto;
    background: rgba(250, 250, 250, 0.05);
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.color-blue {
    color: #1A73E8;
}

.color-red {
    color: #FA311B;
}

.link {
    text-decoration: underline;
}

.link-underline {
    text-decoration: underline;
}

.link-overline {
    text-decoration: overline;
}

.link-delete {
    text-decoration: line-through;
}

.link-line-through {
    text-decoration: line-through;
}

.auto-layout {
    max-width: 800px;
    margin: 0 auto;
}

.GhastlyPanic {
    font-family: 'GhastlyPanic', sans-serif;
}

.video-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

a {
    text-decoration: none;
    color: #1A73E8;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    margin: 10px 0;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

pre { 
    max-width: 10%;
}